/* Reset Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f5f8fa;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.navbar .logo {
  height: 40px;
  width: 200px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: #1d2c3c;
  font-size: 14px;
  font-weight: 700;
}

.account-btn {
  padding: 5px 15px;
  border: 1px solid #1d2c3c;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
}

/* Main container */
.checkout-container {
  display: flex;
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
}

/* Left Section */
.checkout-box {
  flex: 3;
  background: white;
  padding: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.checkout-box h2 {
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  text-shadow: #1d2c3c;
  color: #1d2c3c;
  font-size: 30px;
  border-bottom: 1px solid #ddd;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1d2c3c;
}

.form-container {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  flex-direction: column;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex-basis: 40%;
}
.full {
  flex-basis: 80%;
}
.input-field {
  flex-basis: 100%;
  margin-bottom: 10px;
  flex-grow: 1;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #1d2c3c;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #edeff2;
  font-size: 14px;
  color: #646e7a;
}

.checkout-btn {
  width: 100%;
  background: #0a6d6d;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.checkout-btn:hover {
  background: #085a5a;
}

.help-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #1d2c3c;
  font-weight: 400;
  margin-top: 15px;
  text-align: center;
  gap: 5px;
}
.help-text span {
  font-weight: 700;
}
.help-text a {
  color: #038e7d;
  text-decoration: none;
}

/* Right Section */
.pricing-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: center;
  background: #1179bf;
  color: white;
  padding: 35px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.pricing-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.price {
  font-size: 60px;
  font-weight: 300;
}

.price span {
  font-size: 18px;
  font-weight: 700;
}
.row {
  display: flex;
  align-items: center;
}
.renew {
  font-size: 0.9em;
  margin: 10px 0;
  opacity: 0.8;
  font-style: italic;
}

.pricing-box ul {
  list-style: none;
  margin: 15px 0;
}

.pricing-box ul li {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
}
blockquote .row {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.upgrade {
  margin: 10px 0;
  font-size: 0.9em;
}

.upgrade a {
  color: white;
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  margin-top: 20px;
}

cite {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #555;
}

footer a {
  color: #0a6d6d;
  text-decoration: none;
}

/* New Form Section */
.section h2 {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border: 2px solid #548bc5;
  color: #548bc5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-right: 2px;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.email-group {
  margin-top: 10px;
}

.credit-card-group {
  margin-top: 10px;
}

.credit-card-input {
  display: flex;
  gap: 10px;
}

.credit-card-input input {
  flex: 1;
}
